body {background-color: LightCyan;}
#my_header {background-color: LightCyan;}
#my_contents {margin-top: 0.5em;}
#my_footer {clear:both;}
.title {
    margin: 3px 3px 20px 3px;
    padding: 6px;
    background-color: MidnightBlue;
    color: White;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

h2.heading {
    font-size: 100%;
    margin: 3px 3px 20px 3px;
    padding: 6px;
    background-color: MidnightBlue;
    color: White;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

#mymain {
    min-height: 700px;
}

.menuItem div {
    margin-left: 20px;
    background: white;
    border-left: 10px solid blue;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

a:link.menuItem {
    color: Black;
    text-decoration: none;
}

a:visited.menuItem {
    color: Black;
    text-decoration: none;
}

a:hover.menuItem {
    color: Black;
    text-decoration: none;
}

a:active.menuItem {
    color: Black;
    text-decoration: none;
}

.menuItem div:hover {
    background: Aqua;
}

.globalErrorMessage, .error {
    color: Red;
    font-weight: 150%;
}

dl.error {
    background: BlanchedAlmond;
}

table,td,th {
    border-collapse: collapse;
    border:1px solid #333;
    padding: 0.5em;
}

th {
    color: White;
    background: Blue;
}

th a:link {
    color: White;
    text-decoration: none;
}

th a:visited {
    color: White;
    text-decoration: none;
}

th a:hover {
    color: White;
    text-decoration: none;
}

th a:active {
    color: White;
    text-decoration: none;
}

td {
    background-color: #E9F4FC;
}

tr:nth-child(2n) td {
    background-color: White;
}

table.paged {
    margin-left: 2em;
}

.pagingPanelCell {
    padding-top: 0.6em;
    text-align: right;
    display: inline-block;
    width: 100%;
}

.menuPanel {
    padding-top: 1em;
    padding-bottom: 1em;
}

.backLink {
    margin-left: 20px;
    background: white;
    border-left: 10px solid blue;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    display: block;
    width: 50%;
}

a:link.backLink {
    color: Black;
    text-decoration: none;
}

a:visited.backLink {
    color: Black;
    text-decoration: none;
}

a:hover.backLink {
    background: Aqua;
    text-decoration: none;
}

a:active.backLink {
    color: Black;
    text-decoration: none;
}

.userTable {
    width: 90%;
}

#userNameToDelete {
    margin-top: 0.4em;
}

#removeAlert {
    margin-top: 0.4em;
    color: red;
}

.message {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    display: block;
    width: 85%;
}

.message.info {
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    background: azure;
}

.message.globalError {
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    background: #FFeeee;
    color: Red;
}

.removeAlert {
    background: #FFeeee;
    color: Red;
}

.tokenTable {
    margin: 1em;
}

/* Dropdown Button */
.dropbtn {
    background-color: blue;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 8em;
}

.home {
    float: left;
    font-size: 180%;
}

.accountMenu {
    float: right;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: DodgerBlue;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: cyan}

.show {display:block;}

.home a {
    padding: 0.3em;
}

.home a:link {
    color: Black;
    text-decoration: none;
}

.home a:visited {
    color: Black;
    text-decoration: none;
}

.home a:hover {
    background: Aqua;
    text-decoration: none;
}

.home a:active {
    color: Black;
    text-decoration: none;
}

dt {
    background: DarkCyan; color: white; margin: 0.2em; padding: 0.2em; margin-right:20%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.contractedUserList {
    width: 90%;
    border: none;
}

#createContractedUser {
    margin-left: 2em;
}

#createContractedUser .header {
    width: 30%;
}

#createContractedUser .body {
    width: 70%;
}

#createContractedUser .action td {
    text-align: right;
}

#createContractedUser .selectButton {
    float: right;
}

#createContractedUser .body span {
    float: left;
}

.contractPlanFrame {
    width: 100%;
    margin-top: 1em;
    border: none;
}

.userFrame {
    width: 100%;
    margin-top: 1em;
    border: none;
}
