@(
  title: String,
  loginSession: Option[LoginSession]
)(
  header: Html
)(
  content: Html
)(
  implicit request: MessagesRequest[AnyContent]
)

<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    @commonHeader()
    @header
  </head>
  <body>
    <div id="my_header">
      <div class="home">
        <a href="@routes.HomeController.index">Functional Capture</a>
      </div>
      <div class="accountMenu">
        <div class="dropdown">
          <button onclick="onMenuClicked();" class="dropbtn">@Messages("accountMenu")</button>
          <div id="menuDropdown" class="dropdown-content">
            <a href="#" onclick="location.href='@routes.ApplicationToken.index';">@Messages("applicationToken")</a>
            @loginSession match {
              case Some(login) => {
                @if(login.isAdmin) {
                  <a href="#" onclick="location.href='@routes.Admin.index';">@Messages("admin")</a>
                }
                <a href="#" onclick="location.href='@routes.Admin.logoff(request.uri)';">@Messages("logoff")</a>
              }
              case None => {
                <a href="#" onclick="location.href='@routes.Admin.startLogin(request.uri)';">@Messages("login")</a>
              }
            }
          </div>
        </div>
      </div>
      <div style="clear: both;"></div>
    </div>
    <div id="my_contents">
      <div id="mymain">
        @content
      </div>
    </div>
    <div id="my_footer"><p></p></div>
  </body>
  <script>
function onMenuClicked() {
  document.getElementById("menuDropdown").classList.toggle("show");
}
  </script>
</html>
